
/* CONTACTO */

.mainC {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .formularioContacto {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 50px;
        width: 40%;
    }
    .pContacto1 {
        color: $color-principal;
        margin: 30px;
        text-align: center;
        font-size: 35px;
        font-weight: bold;
    }
    .pContacto2 {
        margin: 10px;
        text-align: center;
        margin-bottom: 20px;
    }
    .boton-enviarC {
        background-color: lightblue;
        font-weight: bold;
    }
    .map-responsive{
        width: 30%;
        overflow:hidden;
        position: relative;
        height:0; }
    .map-responsive iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }

}



