
/* CONTACTO */

.mainC {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .formularioContacto {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 50px;
        width: 40%;
    }
    .pContacto {
        margin: 50px;
        text-align: center;
    }
    .map-responsive{
        width: 50%;
        overflow:hidden;
        position: relative;
        height:0; }
    .map-responsive iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }

}



