@mixin caja-principal {
    margin: 70px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    margin: 70px;
    box-shadow: 10px 10px 10px 10px grey;
}
